<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Create Project</title>
</head>
<body>
  <header>
    <a href="/" class="header-link"><h1>Issue Tracker</h1></a>
  </header>
  
  <main>
    <form action="/create-project" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <br>
      <br>
      <label for="description">Description:</label>
      <textarea id="description" name="description" rows="4" required></textarea>
      <br>
      <br>
      <br>
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" required>
      <br>
      <br>
      <br>
      <button type="submit" class="btn">Create Project</button>
    </form>
  </main>
</body>
</html>