<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Create Issue</title>
</head>
<body>
  <header>
    <a href="/" class="header-link"><h1>Issue Tracker</h1></a>
  </header>
  
  <main id="cissue">
    <h2>Create Issue </h2>
    <form action="/create-issue/<%= projectId %>" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
      <br>
      <br>
      <br>
      <label for="description">Description:</label>
      <textarea id="description" name="description" rows="4" required></textarea>
      
      <br>
      <br>
      <br>
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" required>
      <br>
      <br>
      <br>
      <button type="submit" class="btn">Create Issue</button>
    </form>
  </main>
</body>
</html>              